<!-- Contenedor principal -->
<div class="container__index">
  <div class="container-1__index">
    <div class="container__hijos__index ml-5">
      <h1>¡BIENVENIDO!</h1>
    </div>
    <!-- Logo cabecera -->
    <div class="container__hijos__index mr-5">
      <img src="/public/images/logoOscuroLB.png" 
          alt="Logo Music Review" 
          class="logo__index animated slideInRight slow"
      >
    </div>
  </div>
  
  <div>

    <!--Carousel Wrapper-->
    <div 
      id="multi-item-example" 
      class="carousel slide carousel-multi-item" 
      data-ride="carousel"
    >

      <a 
        class="carousel-control-prev" 
        href="#multi-item-example" 
        role="button" 
        data-slide="prev"
      >
        <span 
          class="carousel-control-prev-icon" 
          aria-hidden="true"
        ></span>
        <span class="sr-only">
          Anterior
        </span>
      </a>
      <a 
        class="carousel-control-next" 
        href="#multi-item-example" 
        role="button" 
        data-slide="next"
      >
        <span
          class="carousel-control-next-icon" 
          aria-hidden="true"
        ></span>
        <span class="sr-only">
          Siguiente
        </span>
      </a>

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li 
          data-target="#multi-item-example" 
          data-slide-to="0" 
          class="active"
        ></li>
        <li 
          data-target="#multi-item-example" 
          data-slide-to="1"
        ></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner mb-5" role="listbox">
        {{#each datosResenias}}

        <div class="carousel-item" id="{{key}}">
          <div class="col-md-3 mw-100 mh-100 px-0" style="float:left">
            <div class="card-body d-flex justify-content-around">
              <!-- Contenedor de imagen y datos de la reseña -->
              <div class="container__carousel  container__carousel_izq__index my-3">
                <img 
                  src="/public/images/bandaEjemplo1.jpg" 
                  alt="Imágen de reseña" 
                  srcset="" 
                  class="img-reseña__index"
                >
                
                <div class="mt-2">
                  <p class="info__index">{{puntuacion}} ptos.</p>
                  <p class="info__index">{{usuario_creador}}</p>
                  <p class="info__index">Rango usuario creador</p>
                  <p class="info__index">{{fecha_creacion}}</p>
                </div>
              </div>

              <div class="container__carousel container__carousel_der__index my-3">
                <h4 class="colorVerde font-weight-bolder">
                  {{titulo}}
                </h4>
                <p>
                  {{contenido}}
                </p>
              </div>
            </div>
          </div>

        </div> 
        {{/each}}
      </div>
      <!-- Fin slides-->
    </div>
  </div>


  <!-- Contenedor de ventana de rangos -->
  <div class="container__info-rangos__index">
    <p class="colorNaranja my-4">Reseñas y una comunidad de personas apasionadas por la música como vos.</p>
    <div class="container__rangos__index">
      <div class="rangos__index">
        <img 
          src="/public/images/insigniaBasico.png" 
          alt="Imágen de reseña" 
          srcset="" 
          class="img-rango__index"
        >
        <h6 class="my-4">Básico</h6>
        <p class="info__index">Límite de 10 reseñas por mes</p>
        <p class="info__index">Anuncios con normalidad</p>
        <p class="info__index">Medalla de usuario básico</p>
      </div>
      <div class="rangos__index">
        <img 
          src="/public/images/insigniaAvanzado.png" 
          alt="Imágen de reseña" 
          srcset="" 
          class="img-rango__index"
        >
        <h6 class="my-4">Avanzado</h6>
        <p class="info__index">Límite de 20 reseñas por mes</p>
        <p class="info__index">Anuncios con normalidad</p>
        <p class="info__index">Medalla de usuario en ascenso</p>
      </div>
      <div class="rangos__index">
        <img 
          src="/public/images/insigniaConfiable.png" 
          alt="Imágen de reseña" 
          srcset="" 
          class="img-rango__index"
        >
        <h6 class="my-4">Confiable</h6>
        <p class="info__index">Sin límite reseñas por mes</p>
        <p class="info__index">Sin anuncios</p>
        <p class="info__index">Medalla de usuario confiable</p>
      </div>
      <div class="rangos__index">
        <img 
          src="/public/images/insigniaPago.png" 
          alt="Imágen de reseña" 
          srcset="" 
          class="img-rango__index"
        >
        <h6 class="my-4">VIP</h6>
        <p class="info__index">Sin límite reseñas por mes</p>
        <p class="info__index">Sin anuncios</p>
        <p class="info__index">Medalla de usuario VIP</p>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById(0).classList.add('active');
</script>